@page
@model WebApp_EasyAuth_DotNet.Pages.Graph_MSI.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">List of users</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].displayName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].jobTitle)
                </th>
                <th>@Html.DisplayNameFor(model => model.Users[0].mail)</th>
                <th>@Html.DisplayNameFor(model => model.Users[0].userPrincipalName)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.displayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.jobTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userPrincipalName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
